In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/pandas/1_intro/nyc_weather.csv')

In [6]:
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [4]:
#max temp 
df['Temperature'].max()

50

In [7]:
# dates when it rained
df['EST'][df['Events'] == 'Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [8]:
# ang wind speed
df['WindSpeedMPH'].mean()
# here the Na values are avoided so we are getting slightly diff mean to get accurate mean replace NA with 0 means clean data

6.892857142857143

In [9]:
# replacing na "fillna" method
df.fillna(0, inplace=True)
df['WindSpeedMPH'].mean()

6.225806451612903

In [16]:
#we can also use a Dictionary as dataset

import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [20]:
# to get umber of rows and cols 
row, col = df.shape
row, col

(6, 4)

In [21]:
# we can print first few rows
df.head(3)         # df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [23]:
# for last rows
df.tail(4)     #df.tail()   for last  rows

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [26]:
# to print specific rows 
df[2:5]          # 5 is not included, 2 is inclusive and ondex starts with 0

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [31]:
# to print all cloumns
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [34]:
# to print specific col data
df['day']           # df.day both gives same output

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [37]:
df.dtypes

day            object
temperature     int64
windspeed       int64
event          object
dtype: object

In [38]:
type(df['day'])

pandas.core.series.Series

In [43]:
# tp print few cols
df[['day','temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

In [44]:
df['temperature'].max()           # we can also use  .min(),     std() for standard deviationb

35

In [1]:
df.describe()              # gives statictics, good to look all at once and quicklyb

NameError: name 'df' is not defined

In [48]:
# applying conditions
# rows where temp > 28
df[df['temperature'] > 28]                       #df[df.temperature > 28]          # both works same

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [50]:
# Row where temp is max
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [59]:
# printing specific cols with condition
df['day'][df.temperature == df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

In [62]:
df[['day','temperature']][df.temperature == df['temperature'].max()]

        day  temperature
1  1/2/2017           35